.ingredients-components-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vw;
}

.recipe-container-body iframe{
    width: 50vw;
    height: 35vw;
    margin-left: 25vw;
    border-radius: 20px;
}

.recipe-image img{
    width: 10vw;
}

.recipe-image {
    text-align: center;
}

.recipe-update-form Button{
    background: white;
}

.recipe-add-ingredient{
    text-align: center;
}

.user-components-container{
    text-align: center;
}